
body {

  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  padding: 30px;
  color: #333;

  background-image: url('./images/bg.jpg');
  background-position: center;
  background-size: cover;

}

.app {

  max-width: 600px;
  margin: 0 auto 300px;
  background-color: #fdde2d;
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

}

h1 {
  text-align: center;
  color: #333;
}

h2 {
  margin-bottom: 10px;
}

p {
  margin: 10px 0;
}

input {
box-sizing: border-box;

}
