
body {

  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  padding: 30px;
  color: #333;

  background-image: url('./images/bg.jpg');
  background-position: center;
  background-size: cover;

}

.app {

  max-width: 600px;
  margin: 0 auto 300px;
  background-color: #ecd343;
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

}

h1 {
  text-align: center;
  color: #333;
}

h2 {
  margin-bottom: 10px;
}

p {
  margin: 10px 0;
}

input {
box-sizing: border-box;

}

button {
  background-color: #404574;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  transition: 0.2s;
}

button:hover {
  background-color: #242742;
}

.complete {
  background-color: #5cb85c;
}

.complete:hover {

  background-color: #449d44;

}

.remove {

  background-color: #e74c3c;
}

.remove:hover {

  background-color: #c0392b;
}

.todo-form {

  padding-bottom: 10px;
}

input, select {
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
}